{% extends 'base.html' %}
{% block content %}

            <main class="mn-inner">
                <h5 style="color: blue;padding-top: 10px;padding-left: 10px;">Apply For Leave</h5>
                <div class="row">
                <div class="middle-content">
                    
                    <div class="row no-m-t no-m-b">
                        
                        
                       <form method="POST" action="{% url 'staff_apply_leave_save' %}" enctype="multipart/form-data">
                        {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'error' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                           {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'success' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                       
                           {% csrf_token %}
                           <div class="form-group row">
                               <label class="col-sm-2 col-form-label">Leave Type</label>
                               <div class="col-sm-10">
                                   
                                   <select  class="form-control" name="leave_type"  required="True">
                                    <option value="">Choose Leave Type</option>
                                    <option value="Casual Leave">Casual Leave</option>
                                    <option value="Earned Leave">Earned Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                    <option value="Maternity Leave">Maternity Leave</option>
                                    <option value="Paternity Leave">Paternity Leave</option>

                                   </select>
                               </div>
                           </div>
                            <div class="form-group row">
                               <label class="col-sm-2 col-form-label">From Date</label>
                               <div class="col-sm-10">
                                   <input type="date" class="form-control" name="from_date" required="True">
                               </div>
                           </div>
                           <div class="form-group row">
                               <label class="col-sm-2 col-form-label">To Date</label>
                               <div class="col-sm-10">
                                   <input type="date" class="form-control" name="to_date" required="True">
                               </div>
                           </div>
                           <div class="form-group row">
                               <label class="col-sm-2 col-form-label">Messages</label>
                               <div class="col-sm-10">
                                <textarea class="form-control" name="message" required="True" rows="5" cols="5"></textarea>
                                
                               </div>
                           </div>
                           <div class="form-group row">
                               <div class="col-sm-10">
                                   <button type="submit" class="btn btn-dark">Apply Leave</button>
                               </div>
                           </div>
                       </form>
                       
                  
                </div>
                 
                </div>
              </div>
            </main>
          
        </div>

        
        {% endblock %}
