{% extends 'base.html' %}
{% block content %}

            <main class="mn-inner">
                <h5 style="color: blue;padding-top: 10px;padding-left: 10px;">View Staff Leave</h5>
                <div class="row">
                <div class="middle-content">
                    
                    <div class="row no-m-t no-m-b">
                        
                        {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'error' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                           {% if messages %}
                        {% for message in messages %}
                         {% if message.tags == 'success' %}
                       <div class="alert alert-warning alert-dismissible fade show" role="alert">
                      {{message}}
                     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                     <span aria-hidden="true">&times;</span>
                         </button>
                          </div>
                       {% endif %}
                        {% endfor %}
                       {% endif %}
                       <table  class="display responsive-table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Staff Name</th>
                                <th>Leave Type</th>
                                <th>Leave Start Date</th>
                                <th>Leave End Date</th>
                                <th>Message</th>
                                <th>Apply Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                     
                        <tbody>
                            {% for i in staff_leave %}
 
                            <tr>
                                <td>{{i.id}}</td>
                                <td>{{i.staff_id.admin.first_name}} {{i.staff_id.admin.last_name}}</td>
                                <td>{{i.leave_type}}</td>
                                <td>{{i.from_date}}</td>
                                <td>{{i.to_date}}</td>
                                <td>{{i.message}}</td>
                                <td>{{i.created_at}}</td>
                                <td>
                                    {% if i.status == 0 %}
                                    <a href="{% url 'staff_approve_leave' i.id %}" class="btn btn-success">Approve</a>
                                    <a href="{% url 'staff_disapprove_leave' i.id %}" class="btn btn-danger">Disapprove</a>
                                    
                                    {% elif i.status == 1 %}
                                    <button class="btn btn-success" disabled="disabled">Approve</button>
                                    {% else %}
                                    <button class="btn btn-danger" disabled="disabled">Disapprove</button>
                                    {% endif %}



                                </td>
                            </tr>
                             {% endfor %}  
                        </tbody>
                    </table>
                       
                  
                </div>
                 
                </div>
              </div>
            </main>
          
        </div>

        
        {% endblock %}
