{% extends 'base.html' %}
{% block content %}

<div class="row">
   
    <h5 style="color: blue;padding-top: 10px;padding-left: 10px;text-align: center;">Change Password</h5>
    <form class="col s12" method="post">
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'error' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
           {% if messages %}
        {% for message in messages %}
         {% if message.tags == 'success' %}
       <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{message}}
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
         </button>
          </div>
       {% endif %}
        {% endfor %}
       {% endif %}
        <div class="row">
            <div class="input-field col s12">
<input id="password" type="password"  class="validate" name="cpwd"  required="true">
                <label for="password">Current Password</label>
            </div>
<div class="input-field col s12">
<input id="password" type="password" name="npwd" class="validate" required="true">
                <label for="password">New Password</label>
            </div>
<div class="input-field col s12">
<button type="submit" class="waves-effect waves-light btn indigo m-b-xs">Change</button>
</div>
        </div>
       
    </form>
</div>

{% endblock %}